{
	"site" : {
		"url" : "http://example.local/wp-json",
		"namespace" : "/royale/v1"
	},
	"keys": {
		"consumer" : {
			"key" : "consumer_key",
			"secret" : "consumer_token"
		},
		"oauth" : {
			"token" : "oauth_token",
			"secret" : "oauth_secret"
		}, 
		"user" : {
			"token" : "user_authorizated_token",
			"secret" : "user_authorizated_secret"
		}
	}
}